name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          IMAGE=ghcr.io/niaxi691/gitops-sample-app:${{ github.sha }}
          docker build -t $IMAGE ./app
          docker push $IMAGE

      - name: Update Kustomize Deployment
        run: |
          sed -i "s|ghcr.io/niaxi691/gitops-sample-app:.*|ghcr.io/niaxi691/gitops-sample-app:${{ github.sha }}|" manifests/base/deployment.yaml
          git config user.name "github-actions"
          git config user.email "niaxi007@gmail.com"
          git commit -am "Update image to $IMAGE"
          git push
